$white: #fff;

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $white;
  color: $white;
  font-family: 'Alegreya', serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas,
main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

canvas {
  pointer-events: none;
}

main {
  border: 10px solid $white;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  letter-spacing: 1px;
}

ul {
  font-family: 'Lalezar', cursive;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    padding: 0 10px;
  }
}

p {
  margin: 25px 0;
  font-size: 14px;

  @media (min-width: 500px) {
    font-size: 16px;
  }
}

h1 {
  font-weight: 400;
  font-size: 30px;
  margin: 0;
  line-height: 1;

  @media (min-width: 500px) {
    font-size: 50px;
  }
}

a:visited,
a {
  color: inherit;
  text-decoration: inherit;
}
